/*
File Name: style.css
Purpose: This file contains the main styles for the website's layout and typography.
Project:SweetLife website
Author: Vuong Khang Minh
Last Updated: 2023-17-3
*/


/* Sets the margin and height for the entire HTML document. */
body,
html {
    margin: 0;
    height: 100%;

}

/* Positioning the text at the bottom of the image. */
h6 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px;
    margin-bottom: 0;
    font-size: 15px;
}


/* Styles the header section of the web page */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    background-color: #24252A;
    font-size: 25px;
    position: relative;
}

/* Styles the hyperlinks (links) on the web page */
a {
    text-decoration: none;
    color: white;
}


/* Styles the list items within a navigation menu */
.links li {
    display: inline-block;
    padding: 0 20px;
}

/* Styles the image element within the header section */
header img {
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: 20px;
}


/* Styles images within the header element */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/home.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}


/* Styles the text within the hero image section */
.hero-text {
    text-align: center;
    position: absolute;
    left: 5%;
    padding: 10px;
    color: white;

}

/* Styles the heading within the hero image section */
.hero-text h1 {
    font-size: 50px;
    margin-top: 100px;
}


/* Styles the paragraph text within the hero image section */
.hero-text p {
    font-size: 20px;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    text-transform: uppercase;
    padding: 27px 27px 27px 0;
    margin: 27px 0 0 0;
}

/* Styles the subheading within the hero image section */
.hero-text h2 {
    font-size: 50px;
    text-decoration: none;
    padding: 27px 27px 27px 0;
    margin: 27px 0 0 0;
}

/* Centering the content of the page. */
.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Setting the background color of the types_cafe class to a light brown color. */
.types_cafe {
    background-color: #f4eee5;
}


/* Setting the flex-basis to 30% and the transition to 0.3s. It is also setting the minimum width to
250px and the margin-bottom to 30px. */
.col {
    flex-basis: 30%;
    transition: transform 0.3s;
    min-width: 250px;
    margin-bottom: 30px;

}


/* Setting the max-width of the container to 1080px, and centering it. It is also setting the padding
to 25px on the left and right. */
.container_types_cafe {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Creating a row of items that are centered and spaced out evenly. */
.row {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.col img {
    width: 100%;
}

/* Setting the style for the paragraph tag. */
.col p {

    margin: 0;
    font-family: arial;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -.01em;
    line-height: 1.5;
    min-height: 63px;
}



/* The container */
.img-hover-zoom {
    height: 324px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.571);
    border-radius: 10px;
    position: relative;
}

/* Transition property for smooth transformation of images */

.img-hover-zoom img {
    transition: transform .5s ease;
}


/* Making the image scale up to 1.1 times its original size when the mouse hovers over it. */
.img-hover-zoom:hover img {
    transform: scale(1.1);
}

/* Setting the text-align to center, the position to relative, the line-height to 60px, the color to
#555, and the margin to 0 0 70px 0. */
.title {
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #555;
    margin: 0 0 70px 0;
}

.title::after {
    border-radius: 5px;
    position: absolute;
    content: '';
    background: #ff523b;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 5px;
    transform: translateX(-50%);
}


/* The history section */

.history_section {
    position: relative;
    overflow: hidden;
}

.history_section img {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}



/* footer section */

.container_footer {
    background-color: #f4eee5;

}

footer {
    background-color: #2222220d;
    height: auto;
    font-family: "Open Sans";
    color: black;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

/* set up position for social icon */
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
}

.socials li {
    margin: 0 10px;
    width: 60px;
}

.socials a img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: none;
}

.socials a img {
    font-size: 1.1rem;
    transition: color .4s ease;

}

/* set up font for footer */
.footer-bottom {
    padding: 10px 0;
    text-align: center;


}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .6;
    font-weight: 200;
}



.history_description {
    position: absolute;
    top: 10%;
    right: 39px;
    color: white;
    display: block;
    width: 28%;
    height: 100%;
    word-spacing: 5px;
    text-align: left;
    word-break: normal;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}


.sign_up {
    border: 1px solid darkgray;
    background-color: rgb(227, 6, 227);
    padding: 15px 20px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.7em 2em;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease all;
    color: rgb(252, 251, 251);
}

.col h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px 10px 10px 10px;

}

.col h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px 10px 10px 10px;

}

.sign_up:hover {
    opacity: 0.6;
}


.link {
    position: relative;
    text-decoration: none;

}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#home {
    color: tomato;
    outline: none;

}




/* register page */

.checklist {
    border: 1px solid rgba(0, 0, 0, 0.126);
    height: 48px;
    background-color: white;
    box-shadow: 0 5px 20px rgba(244, 242, 242, 0.5);
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #575550;
    border-radius: 4px;
    margin-bottom: 40px;
}

.checklist label {
    position: relative;
    background-color: transparent;
    float: left;
    padding: 17px 5px 15px 15px;
    font-size: 15px;
    border: none;


}

.checklist select {
    position: relative;
    float: right;
    background-color: white;
    height: 48px;
    text-align: center;
    border: none;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #575550;
}


.check label {
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #575550;
}

.check span {
    text-decoration: underline;
}

.gender {
    margin-bottom: 40px;
}

.gender label {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    text-transform: uppercase;
    color: #575550;
}

.form_register {
    width: 400px;
    padding-top: 75px;
    padding-bottom: 155px;
}

.form_register h1 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 60px;
}


#register {
    color: tomato;
}


.text_holder {
    position: relative;
    margin-bottom: 40px;

}

/*label that sits inside input*/
.text_holder label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    left: 20px;
    cursor: pointer;
    z-index: 1;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #575550;


}


/*customized label*/
.text_holder input {
    box-sizing: border-box;
    position: relative;
    height: 40px;
    padding: 0 15px;
    /* margin-left: 10px; */
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.126);
    background-color: white;
    outline: none;
    cursor: pointer;
    text-align: center;
    transition: 0.1s;
    font-size: 15px;
    letter-spacing: 0.03em;
    z-index: 0;
    box-shadow: 0 10px 25px rgba(244, 242, 242, 0.5);
    color: black;
    border-radius: 4px;

}

/*placeholder not displayed*/
.text_holder ::placeholder {
    visibility: hidden;
    color: #27282C
}

/*slide up label when input focused*/
.text_holder input:focus~label {
    top: -12px;
    z-index: 0;
    background: transparent;
    transition: .25s;
    color: black;
    font-size: 15px;
    opacity: 0.8;
}

/*placeholder visible when input focused*/
.text_holder input:focus::placeholder {
    visibility: visible;
}

.text_holder input:focus {
    outline: none;
    box-shadow: 0 0 5px #ff6384;
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
}


/*submit button css*/
.form_submit {
    position: relative;
    display: inline-block;
    overflow: hidden;
    left: 135px;
    top: 50px;



}

.submit_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: white;

}


.submit_text:hover {
    transition: all .6s;
    color: white;
    background-color: black;
}


.form_submit input {
    appearance: none;
    width: 130px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}



/* Create Animated border for submit button */

.form_submit span {
    position: absolute;
    display: block;
}

.form_submit span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.form_submit span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.form_submit span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.form_submit span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}



.container_form {
    background-color: #f4eee5;
    display: flex;
    justify-content: center;
}



/* order page */

#order {
    color: tomato;
}

.container_order_form {
    background-color: #f4eee5;
    display: flex;
    justify-content: space-between;
    min-height: 808px;
}

.container_order_form form {
    width: 55%;
    position: relative;
    overflow: hidden;
}

.order_form {
    padding-top: 50px;
    padding-left: 18%;
    position: relative;
}


.order_name {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.order_name input {
    width: 48%;
    height: 45px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #f5f0e8;
    border: 1px solid #cfcac3;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: .2em;
    font-family: 'Roboto', sans-serif;

}

.order_name input::placeholder {
    color: #000;
}


.order_info {
    padding: 10px;
}

.order_info input {
    width: 100%;
    height: 45px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #f5f0e8;
    border: 1px solid #cfcac3;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: .2em;
    font-family: 'Roboto', sans-serif;
}

.order_info input::placeholder {
    color: #000;
}



.order_radio {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

/* Hiding the radio buttons. */
.order_radio input {
    display: none;

}

.order_radio label {
    background-color: #f5f0e8;
    border: 1px solid #cfcac3;
    border-radius: 5px;
    align-items: center;
    display: inline;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    transition: .25s;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .2em;
    font-family: 'Roboto', sans-serif;

}

/* This class changes the background color and font weight of the label element next to a checked radio input. */
.order_radio input:checked+label {
    background-color: #cfcac3;
    font-weight: bold;
}



/* checkbox */
.order_checkbox {
    padding: 10px;

}

.order_checkbox:hover {
    box-shadow: 0 0 35px rgba(244, 242, 242, 0.5);
}


/* abc */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    color: #514f4c;
    font-weight: 100;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f5f0e8;
    border: 1px solid #cfcac3;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a  background */
.container input:checked~.checkmark {
    background: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}









/* next */

.container_cnt {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 110px;


}

/* styles a button element  */
.cnt {
    background-color: black;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.7em 2em;
    border-radius: 5px;
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    color: white;
    letter-spacing: 3px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.cnt:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: white;
    z-index: -1;
}

.cnt:hover,
button:focus {
    color: black;
    overflow: hidden;
}

.cnt:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    overflow: hidden;
    border: 0 solid;
}

.cnt:active {
    transform: scale(0.9);
}




#form2 {
    position: absolute;
    top: 50px;
    left: 100%;
    width: 82%;
}

#form1,
#form2 {
    transition: 1s;
}


/* form2 */

.checkout {
    box-sizing: border-box;
    border-color: currentColor;
    margin-top: 1.5em;
    padding: 0 10px 0 10px;
}

.dynamic-checkout__title {
    word-wrap: break-word;
    border: 0 solid;
    box-sizing: border-box;
    border-color: currentColor;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: 1.3;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: #31302e;
}

.dynamic-checkout__title::before {

    border-top-left-radius: 5px;
    margin-right: 1em;
}

.dynamic-checkout__title::before {
    content: '';
    border: 1px #dcd6ce solid;
    border-bottom: 0;
    height: 0.5em;
    flex: 1 0 2em;
    border-right: 0;
}

.dynamic-checkout__title::after {

    border-top-right-radius: 5px;
    margin-left: 1em;
}

.dynamic-checkout__title::after {
    content: '';
    border: 1px #dcd6ce solid;
    border-bottom: 0;
    height: 0.5em;
    flex: 1 0 2em;
    border-left: 0;

}

.dynamic-checkout__content {
    box-sizing: border-box;
    border: 1px #dcd6ce solid;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 0px 0px 0px;
}




.container_pay {
    flex-direction: row;
    display: flex;
    border: 0 solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.3rem;


}

.container_pay input {
    opacity: 0;
    width: 0;
    height: 0;
}

.container_pay input:checked+img {
    border: 5px solid rgba(59, 130, 246, .5);
    border-radius: 10px;

}

.dynamic-checkout__content label img {
    width: 150px;
    height: 104px;
    cursor: pointer;
    margin: 10px 0 10px 0;



}





.order_footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}



.order_submit {
    background-color: black;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.7em 2em;
    border-radius: 5px;
    position: relative;
    transition: 0.3s ease all;
    z-index: 1;
    color: white;
    letter-spacing: 3px;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 16px;
    border: none;

}


.order_submit:hover {
    transition: all .6s;
    color: black;
    background-color: white;
}

#form1 h1,
#form2 h1 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.3;
    text-align: left;
    font-family: sans-serif;
    margin-bottom: 30px;
    padding: 10px;
    color: #31302E;
}


.order_form h4 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    font-family: sans-serif;
    padding: 10px;
    color: #31302E;
    margin: 10px 0 0 0;
}

#form2 h4 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    font-family: sans-serif;
    padding: 10px;
    color: #31302E;
    margin: 10px 0 0 0;

}


#del_address {
    display: none;
}

#payment {
    display: none;
}



/* feature page */

#feature {
    color: tomato;
}

#ft {
    background-color: #f4eee5;
    ;
}

#ft_1 {
    background-color: rgba(238, 180, 38);
}

.container_ft {
    display: flex;
    flex-direction: row;
    padding: 0 25px 0 25px;
    align-items: center;

}

#description_ft1 {
    align-self: center;
    flex: 1 1 0%;
}


.description_ft h3 {
    letter-spacing: 1.4px;
    font-weight: lighter;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    font-family: sans-serif;
    padding: 10px;
    color: #31302E;
    margin: 10px 0 0 0;
}


.container_img_ft {
    width: 48%;
    align-items: center;
    padding: 100px;
    justify-self: center;
    display: grid;

}

.container_img_ft h1 {
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
    color: #31302E;
    margin: 10px 0 0 0;
    font-size: 30px;
    letter-spacing: 1.8px;
    line-height: 1.3;

}

.container_img_ft a {
    align-items: center;
    justify-self: center;

}

.container_img_ft img:hover {
    opacity: 0.8;

}


#ft_2 {
    margin-top: 48px;
    background-color: rgba(156, 175, 150);

}

#ft_3 {
    margin-top: 48px;
    background-color: rgba(94, 153, 194);
}

#ft_3 .container_img_ft img {
    width: 100%;
    height: 100%;
}

/* Making the home button have a border when it is clicked. */
#home:target {
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px;
}

/* Targeting the order_checkbox class and adding a border to it. */
.order_checkbox:target {
    border: 3px solid black;
    border-radius: 5px;
    padding-bottom: 0;

}

/* Making the form2 appear on top of the form1. */
#form2:target #payment {
    border: 3px solid black;
}

/* Making the form2 appear on top of the form1. */
#form2:target {
    z-index: 1;
}